:root {
  --color-background-dark: hsl(210, 35%, 9%);
  --color-text-dark: rgb(88 196 220);
}

.dark-mode {
  background-color: var(--color-background-dark);
  color: var(--color-text-dark);
}


.App{
  min-height: 100vh;
}
